<?xml version="1.0"?>
<!--
  ~ /**
  ~  *
  ~  *  NOTICE OF LICENSE
  ~  *   @author HTCMage Team
  ~  *   @copyright Copyright (c) 2020 HTCMage (https://www.htcmage.com)
  ~  *   @package HTCMage_ProductAttachment
  ~  *
  ~  */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="attachment" frontName="attachment">
            <module name="HTCMage_ProductAttachment" before="Magento_Backend"/>
        </route>
    </router>
</config>
