<?xml version="1.0"?>
<!--
  ~ /**
  ~  *
  ~  *  NOTICE OF LICENSE
  ~  *   @author HTCMage Team
  ~  *   @copyright Copyright (c) 2020 HTCMage (https://www.htcmage.com)
  ~  *   @package HTCMage_ProductAttachment
  ~  *
  ~  */
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="htcmage" translate="label" sortOrder="10">
            <label>HTCMage</label>
        </tab>
        <section id="attachment" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product Attachment</label>
            <tab>htcmage</tab>
            <resource>HTCMage_ProductAttachment::attachment_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>